

.align-btn{
   float: right;  /*move item to the right*/
}

.img_size{
    width:450px;height:300px
}

#email_repeat{
    color: red;
}

#container_register{
    margin-top: 50px;
}

.navbar-light .navbar-text {
    color: black;
}


.navbar-text {
    padding: .5rem 1rem;
}