

.align-btn{
   float: right;  /*move item to the right*/
}

.img-size{
    width:450px;height:300px
}

#email_repeat{
    color: red;
}

.register-form{
    margin-top: 50px;
}

.login-head{
    margin-top: 20px;
}

.navbar-light .navbar-text {
    color: black;
}


.navbar-text {
    padding: .5rem 1rem;
}

.card-img-overlay{
    color: white;
    padding: 20px 10px;
    background-color: rgba(0,0,255,0.5);
}

.ad-content{
    color: black;
    margin-top: 25px;
}

.nav-logo{
    width: 100px;
    height: 39.063px;
}

.facilities-property{
    margin-bottom: 0;
    font-size: 18px;
}

.label-facilities{
    font-size: smaller;
}


.bathrooms{
    margin: 0 30px;
}

.bedrooms{
    margin: 0 30px;
}

.image-size{
    width:500px;
    height: 300px;
}

.div-line{
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 7px;
    width: 330px;
}

.desc-mar{
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature-head{
    display: inline;
}

.ad-address{
    margin-top: 30px;
    color: #696969;  
}

.ad-location{
    margin-bottom: 20px;
    color: #808080;
}

.car-layout{
    margin-top: 40px;
}

.room-info{
    color: #808080;
}

.desc-mar h6{
    color: #696969;
}

.desc-mar span{
    color: #808080;
}

.desc-mar h4{
    color: #696969;
}

.num-rooms{
    margin-bottom: 20px;
}

.ad-type{
    margin-bottom: 0;
}

.property-card{
    margin: 27px 0;
}


/*back-image opacity*/

.back-image {
 position: relative;
 height: 500px;
}

.back-image::before { 
  content: "";
  position: absolute;
  width: 100%; height: 500px;
  top: 0; left: 0;
  background-image: url("/static/images/apartment.jpg");
  padding: 0;
  filter: opacity(60%);
}

/*end of back-image opacity*/


.navbar-color{
    background-color: transparent!important;
}

.search-form{
    position: relative;
    top: 40%;
    transform: translateY(-50%)
}

.item-tab{
    margin-left: 10px;
}

@media(max-width: 991px){
    .item-tab{
    display: none;
    }
    
    .card-img-top{
    height: 270px;
    }
    
    .num-bathrooms{
    margin-left: 19px;
    }
    
    .card-img-overlay{
        top: 173px;
        height: 97px;
    }
    
    .search-head{
        margin: 0 15px 0 15px;
    }
    
    .prop-head{
    font-size: large;
    }
}

@media(min-width: 992px){
    .card-img-top{
    height: 358px;
    }
    
    .num-bathrooms{
    margin-left: 23px;
    }
    
    .card-img-overlay{
        top: 270px;
        height: 88px;
    }
}

.card-body{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card a{
    text-decoration: none;
}

.add-property{
    margin: 25px 0 20px 0;
}

.ad_resgis{
    margin-bottom: 27px;
}

.inp-img{
    margin: 10px 0;
}

.edit-btn{
    color: white;
    margin-left: 7px;
}

.card-info{
    color: #595959;
}

.ads-info{
    color: #595959;
}

.edit-del-btn{
    margin-top: 7px;
}

.advert-ad{
    margin: 7px 0 15px 0;
}

.search-result{
    margin-top: 7px;
}

.search-head{
    margin-bottom: 0;
}

.prop-desc{
    margin: 17px 10px 0 10px;
}

.prop-desc h4{
    color: #696969;
}

.prop-desc p{
    color: #808080;
}


@media(max-width: 360px){
    .div-line{
        width: 250px;
    }
    
    .bedrooms{
        margin: 0 15px;
    }
    
    .bathrooms{
        margin: 0 15px;
    }
}

.login-btn{
    text-align: center;
}

.remember-btn{
    width: 200px;
}

.edit-form{
    margin-top: 17px;
    margin-bottom: 17px;
}

.edit-head{
    margin-top: 20px;
}

.reg-head{
    margin-top:20px;
}

.navbar-light .navbar-nav .nav-link{
    color: #595959;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}