{% extends 'layout.html' %} 
{% block content %}

 <nav class="navbar navbar-expand-lg navbar-light navbar-color">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <a class="navbar-brand" href="{{url_for('properties')}}"><img class="nav-logo" src="/static/images/logo_transparent.png"></a>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('properties')}}">Home <span class="sr-only">(current)</span><span class="item-tab">|</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('filter_ad')}}?type=buy">Buy <span class="item-tab">|</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('filter_ad')}}?type=rent">Rent <span class="item-tab">|</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('filter_ad')}}?type=share">Share <span class="item-tab">|</span></a>
      </li>
      
        {% if session.username %}  <!--confirms if the user is authenticated-->
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('add_property')}}">Advertise <span class="item-tab">|</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('my_ads')}}">My ads <span class="item-tab">|</span></a>
      </li>
      {% else %}
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('login')}}">Advertise <span class="item-tab">|</span></a>
      </li>
      {% endif %}
      </ul>
     
      <ul class="navbar-nav ml-auto">
      {% if session.username %}
       <li class="nav-item">
        <span class="navbar-text">Hello, {{session.username}}</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('logout')}}">Log out</a>
      </li>
      
      {% else %}
      
      <li class="nav-item">
        <a class="nav-link" id="login_id" href="{{url_for('login')}}">Login</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" id="register_id" href="{{url_for('register')}}">Register</a>  
      </li>
      {% endif %}
    </ul>
  </div>
</nav>


<div class="container">
<div class="row justify-content-center">
<div class="col">
<h3 class="add-property">Add property</h3>

<form action="{{url_for('add_property')}}" method="POST" enctype='multipart/form-data' class="ad_resgis">
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="input_category">Category</label>
      <select id="input_category" class="form-control" name="category_name">
        <option selected>Choose...</option>
        <option>Residential</option>
        <option>Comercial</option>
        <option>Sharing</option>
        <option>Holiday Homes</option>
      </select>
    </div>
    
    <div class="form-group col-md-4">
      <label for="input_propertytype">Property Type</label>
      <select id="input_propertytype" class="form-control" name="property_type">
        <option>Choose...</option>
        <option>House</option>
        <option>Apartment</option>
        <option>Site</option>
      </select>
    </div>
    </div>
    

    
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="input_numberbedrooms">Number of bedrooms</label>
      <select id="input_numberbedrooms" class="form-control" name="number_bedrooms">
        <option selected>Choose...</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </div>
    
    <div class="form-group col-md-4">
      <label for="input_numberbathrooms">Number of bathrooms</label>
      <select id="input_numberbathrooms" class="form-control" name="number_bathrooms">
        <option selected>Choose...</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </div>
    </div>
    
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="sell_checkbox" name="sell">
      <span><label class="form-check-label" for="gridCheck">Sell</label></span>
    </div>
    <div class="form-check">
      <input class="form-check-input" id="rent_checkbox" type="checkbox" name="rent" onclick="showPeriod()">
      <span><label class="form-check-label" for="gridCheck">Rent</label></span>
    </div>
    <div class="form-check">
      <input class="form-check-input" id="share_checkbox" type="checkbox" name="share" onclick="showPeriod()">
      <span><label class="form-check-label" for="gridCheck">Share</label></span>
    </div>
    </div>
     
  
  <div class="form-group">
    <label for="inputAddress1">Address</label>
    <input type="text" class="form-control" id="inputAddress1" placeholder="1234 Main St" name="address1">
  </div>
 
  
  
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="address2">
  </div>
  
  
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City/Town</label>
      <input type="text" class="form-control" id="inputCity" name="town_name">
    </div>
    
    <div class="form-group col-md-4">
      <label for="input_county">County</label>
      <select id="input_county" class="form-control" name="county">
        <option selected>Choose...</option>
        <option>Antrim</option>
        <option>Armagh</option>
        <option>Carlow</option>
        <option>Cavan</option>
        <option>Clare</option>
        <option>Cork</option>
        <option>Derry</option>
        <option>Donegal</option>
        <option>Down</option>
        <option>Dublin</option>
        <option>Fermanagh</option>
        <option>Galway</option>
        <option>Kerry</option>
        <option>Kildare</option>
        <option>Kilkenny</option>
        <option>Laois</option>
        <option>Leitrim</option>
        <option>Limerick</option>
        <option>Longford</option>
        <option>Louth</option>
        <option>Mayo</option>
        <option>Meath</option>
        <option>Monaghan</option>
        <option>Offaly</option>
        <option>Roscommon</option>
        <option>Sligo</option>
        <option>Tipperary</option>
        <option>Tyrone</option>
        <option>Waterford</option>
        <option>Westmeath</option>
        <option>Wexford</option>
        <option>Wicklow</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Eircode</label>
      <input type="text" class="form-control" id="inputZip" name="Eircode">
    </div>
  </div>
  
  
  <div class="form-row">
  <div class="form-group">
      <p class="facilities-property">Facilities of the property</p>
      <label for="input_propertyfacilities" class="label-facilities">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</label>
      <select id="input_propertyfacilities" class="form-control" name="property_facilities" multiple>
        <option>Choose...</option>
        <option value="Gas fired central heating">Gas fired central heating</option>
        <option value="Parking">Parking</option>
        <option value="Alarm">Alarm</option>
        <option value="Oil fired central heating">Oil fired central heating</option>
        <option value="Wired for cable television">Wired for cable television</option>
        <option value="Wheelchair access">Wheelchair access</option>
      </select>
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="input_energyperformance">Energy Performance</label>
      <select id="input_energyperformance" class="form-control" name="energy_performance">
        <option selected>Choose...</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
        <option>D</option>
        <option>E</option>
        <option>F</option>
        <option>G</option>
      </select>
    </div>
    </div>
    
    
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Description of the property</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="property_description"></textarea>
  </div>
  
  
  <div class="form-row">
    <div class="form-group col-md-6">
  <label for="exampleFormControlInput1">Price</label>
  <div class="input-group mb-3">
    
  <div class="input-group-prepend">
    <span class="input-group-text">€</span>
  </div>
  <input type="text" class="form-control" aria-label="Euro amount (with dot and two decimal places)" name="property_price" placeholder="Enter price">
</div>
</div>


<div class="form-group col-md-4" id="period" style="display:none">
      <label for="input_period_price">Period</label>
      <select id="input_period_price" class="form-control" name="period_price">
        <option selected>Choose...</option>
        <option>Weekly</option>
        <option>Monthly</option>
      </select>
    </div>

</div>
              
  <div class="form-group">
    <label for="property_image">Primary property images</label>
    <input type="file" class="form-control-file inp-img" id="property_image1" name="image1">
    <input type="file" class="form-control-file inp-img" id="property_image2" name="image2">
    <input type="file" class="form-control-file inp-img" id="property_image3" name="image3">
    <input type="file" class="form-control-file inp-img" id="property_image4" name="image4">
    <input type="file" class="form-control-file inp-img" id="property_image5" name="image5">
  </div>
  
  <div class="row justify-content-center">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

</div>
</div>
</div>

{% endblock %}