{% extends 'layout.html' %} 


{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="single-info page-center">
                <form method="POST" action="">
                    {{form.hidden_tag()}}
                    <fieldset class="form-group">
                        <legend class="run-description-date mb-4">Login</legend>
                        <div class="form-group">
                            {{ form.email.label(class='form-control-label') }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class='form-control form-control-lg') }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class='form-control-label') }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class='form-control form-control-lg') }}
                            {% endif %}
                        
                        {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}</p>
                        {% endif %}
                        </div>
                        
                    <div class="form-group"> 
                    <button type="submit" class="btn btn-primary btn-block">Log In</button>
                    </div>
                        
                    </fieldset>
                  
                  
                    <div class="form-group">
                    <p class="form-control form-control-label">{{ form.remember_me }} {{ form.remember_me.label }}</p>
                    </div>
                  
                    <div class="form-group">
                New around here? <a href="{{ url_for('register') }}">Sign up here</a>
            </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
