{% extends 'layout.html' %}
{% block content %}


<div class="accordion" id="accordionExample">
  {% for ad in ads %}
  <div class="card">
    <div class="card-header bg-dark text-white" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <span><img class="card-img img_size" src="{{ad.image}}" alt="Property image"></span>
         <span></span>
         <br>
      <h5 class="mb-0">
          {{ad.address2}} {{ad.address1}} - {{ad.county}}  
          {% if ad.owner.email == session.username %}
          <a href="{{url_for('edit_ad', ad_id=ad._id)}}" class="btn btn-primary btn-sm align-btn" role="button">Edit</a> 
          <form action="{{url_for('delete_ad', ad_id=ad._id)}}" method="POST" class="align-btn">
              <input type="submit" value="Delete" class="btn btn-danger btn-sm">
          </form>
          {% endif %}
      </h5>
      
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <span>Property description: {{ad.property_description}}</span><br>
        <span>Property price: € {{ad.property_price}}</span>
        <span>{{ad.period_price}}</span><br>
        <span>contact name: {{ad.owner.name}}</span><br>
        <span>contact email: {{ad.owner.email}}</span><br>
        <span>contact phone number: {{ad.owner.phone_number}}</span>
      </div>
      
    </div>
    
  </div>
{% endfor %}  
</div>

{% endblock %}