{% extends 'layout.html' %}
{% block content %}

<div class="container-fluid back-image">

 <nav class="navbar navbar-expand-lg navbar-light navbar-color">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <a class="navbar-brand" href="{{url_for('properties')}}"><img class="nav-logo" src="/static/images/logo_transparent.png"></a>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('properties')}}">Home <span class="sr-only">(current)</span><span class="item-tab">|</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('filter_ad')}}?type=buy">Buy <span class="item-tab">|</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('filter_ad')}}?type=rent">Rent <span class="item-tab">|</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('filter_ad')}}?type=share">Share <span class="item-tab">|</span></a>
      </li>
      
        {% if session.username %}  <!--confirms if the user is authenticated-->
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('add_property')}}">Advertise <span class="item-tab">|</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('my_ads')}}">My ads <span class="item-tab">|</span></a>
      </li>
      {% else %}
      <li class="nav-item">
      <a class="nav-link" href="{{url_for('login')}}">Advertise <span class="item-tab">|</span></a>
      </li>
      {% endif %}
      </ul>
     
      <ul class="navbar-nav ml-auto">
      {% if session.username %}
       <li class="nav-item">
        <span class="navbar-text">Hello, {{session.username}}</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('logout')}}">Log out</a>
      </li>
      
      {% else %}
      
      <li class="nav-item">
        <a class="nav-link" id="login_id" href="{{url_for('login')}}">Login</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" id="register_id" href="{{url_for('register')}}">Register</a>  
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
<div class="alert alert-success">
<div class="messages">    
    {% for message in messages %}
      <strong>{{ message }}</strong>
    {% endfor %}
    </div>
    </div>
  {% endif %}
{% endwith %}


  <div class="container search-form">
    <div class="row justify-content-center">
      <div class="col-xs-7 col-md-12">
      
  <form class="form-inline justify-content-center" action="{{url_for('search_ad')}}" method="POST">
  <strong><label class="my-1 mr-2" for="city-seach">Search city/town</label></strong>
  <input type="text" class="form-control my-1 mr-sm-2" id="city-seach" placeholder="E.g. Dublin" name="town_to_search">

  <select class="custom-select my-1 mr-sm-2" name="purpose_to_search">
    <option selected>Buy/Share/Rent</option>
    <option value="sell">Buy</option>
    <option value="rent">Rent</option>
    <option value="share">Share</option>
  </select>

  <select class="custom-select my-1 mr-sm-2" name="type_to_search">
    <option selected>Property Type</option>
    <option>House</option>
    <option>Apartment</option>
    <option>Site</option>
  </select>

  <button type="submit" class="btn btn-primary my-1">Submit</button>
</form>
  </div>
    </div>
      </div>
  
</div>



<div class="container">
<div class="row justify-content-center">
    
{% for ad in ads %}
<div class="col-xs-12 col-md-6">

<div class="card mb-3 property-card">
  <a href="{{url_for('ad_description', ad_id=ad._id)}}">
  <img class="card-img-top" src="{{ad.image1}}" alt="Card image cap">
  
  <div class="card-img-overlay justify-content-end">
    <p class="card-text"><strong>{{ad.address2}} {{ad.address1}} - {{ad.town_name}}, {{ad.county}} <br>
    € {{ad.property_price}} {% if ad.period_price != "Choose..." %} <span class="card-text">{{ad.period_price}}</span> {% endif %}</strong></p>
  </div>
  
  
  <div class="card-body card-info">
      <h5 class="ad-type">
      {% if ad.property_type == "House" %}<i class="fas fa-home"></i>{% elif ad.property_type == "Apartment" %}<i class="far fa-building"></i>{% else %}<i class="fas fa-tree"></i>{% endif %}
      {% if ad.sell %}To sell{% elif ad.rent %}To rent{% elif ad.share %}To share{% endif %}
      </h5><br>

      <div class="num-rooms">
      <span><i class="fas fa-bed"></i> {{ad.number_bedrooms}} bedrooms</span>  <span class="num-bathrooms"><i class="fas fa-bath"></i> {{ad.number_bathrooms}} bathrooms</span>
      </div>
      <span class="card-text">{{ad.property_description}}</span>
  </div>
  </a>
</div>

</div>
{% endfor %} 
  </div>
</div>
{% endblock %}
